<div class="span12">
	<hr>
</div>
<footer class="footer">
	<div class="container-fluid">
		<nav class="float-left">
			<ul>
				<li><a
					href="https://www.aulavirtual.urjc.es/moodle/user/view.php?id=88500&course=128839">
						Israel Peñalver </a></li>
				<li><a
					href="https://www.aulavirtual.urjc.es/moodle/user/view.php?id=74240&course=128839">
						Natalia Madrueño </a></li>
				<li><a
					href="https://www.aulavirtual.urjc.es/moodle/user/view.php?id=76736&course=128839">
						Sandra Gómez </a></li>
				<li><a
					href="https://www.aulavirtual.urjc.es/moodle/user/view.php?id=73601&course=128839">
						Zhihao Du </a></li>
				<li><a
					href="https://www.aulavirtual.urjc.es/moodle/user/view.php?id=60660&course=128839">
						Sergio Casado </a></li>
			</ul>
		</nav>
		<div class="copyright float-right">
			&copy;
			<script>
				document.write(new Date().getFullYear())
			</script>
			, made with <i class="material-icons">favorite</i> by <a
				target="_blank">Grupo 13</a>
		</div>
	</div>
</footer>

</body>
</html>