<td-chart [style.height.px]="300">
    <td-chart-tooltip [trigger]="'item'"
                      [textStyle]="{ color: '#818181' }"
                      [backgroundColor]="'#ffffff'">
      <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
        <ng-container *ngIf="params">
          <div layout="row" layout-align="start center">
            <mat-icon>
              <span [style.color]="params.color">people</span>
            </mat-icon>
            <span class="mat-caption pad-left-sm">
              {{params.seriesName + ': ' + params.value}}
            </span>
          </div>
        </ng-container>
      </ng-template>
    </td-chart-tooltip>
    <td-chart-x-axis [show]="true"
                      [position]="'bottom'"
                      [type]="'category'"
                      [data]="['Tragedia', 'El amor', 'Tragicomedia', 'Novela social', 'Comedia', 'Carpe Diem']"
                      [boundaryGap]="true">
    </td-chart-x-axis>
    <td-chart-y-axis [show]="true"
                      [type]="'value'"
                      [position]="'right'"
                      [max]="200">
    </td-chart-y-axis>
    <td-chart-series td-bar
                    [data]="[1, 2, 1, 1, 1, 2]"
                    [name]="'Today'"
                    [color]="'#F2724B'">
    </td-chart-series>
  </td-chart>