{{>header}}
 <!--Start Container 1-->
        <div class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">


                    <!--Input Data-->
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Autor</h4>
                                <p class="card-category">Datos del Autor</p>
                            </div>
                            <div class="card-body">

                                <!--Form-->
                                <form>

                                    <!--Input nombre-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Nombre</label>
                                                <input type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Input URL Foto-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">URL Foto</label>
                                                <input type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Input Calendar-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="bmd-label-floating"> Fechas: </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="input-daterange input-group" id="datepicker">
                                                    <input type="text" class="input-sm form-control" name="from" placeholder="Nacimiento" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="input-daterange input-group" id="datepicker">
                                                    <input type="text" class="input-sm form-control" name="to" placeholder="Fallecimiento" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Input Lugar Nacimiento-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Lugar de Nacimiento</label>
                                                <input type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Input URL Mapa-->
                                    <div class="row" style="padding-bottom: 2.5em;">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">URL Mapa</label>
                                                <input type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!--End Form-->
                                <button type="button" class="btn btn-primary">Guardar</button>

                            </div>
                        </div>
                    </div>
                    <!--End Input Data-->

                    <!--Input Images-->
                    <div class="col-md-2">


                        <div class="card card-profile">
                            <a href="#autor">
                                <img class="card-img-top" src="https://editorialverbum.es/wp-content/uploads/2016/12/250-Cervantes.jpg" style="width: 11.65em; height: 12em;" />
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">Nombre Autor</h4>
                            </div>
                        </div>

                        <div class="card card-profile">
                            <div class="card-avatar-top">
                                <a href="#lugarNacimiento">
                                    <img class="card-img-top" src="http://www.turismoalcala.es/wp-content/uploads/2017/01/alcalaPatrimonio.jpg" style="width: 11.65em; height: 12em;"/>
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Nombre Lugar</h4>
                            </div>
                        </div>

                    </div>
                    <!--End Input Images-->
                </div>
            </div>
        </div>
        <!--End Container 1-->

        <div class="span12">
            <hr>
        </div>

        <!--Start Container 2-->
        <div class="container-fluid">

                <div class="row">
                    <!--Start Theme-->
                    <div class="col-sm-4" style="width: auto; height: 30em; overflow-y: scroll;">
                        <div class="card" style="height:auto">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title text-center">Temas</h4>
                            </div>
                            <div class="card-body">
                                <!-- Search bar-->
                                <form class="navbar-form">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control" placeholder="Buscar Tema...">
                                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </form>
                                <!-- End Search bar-->
                                <div class="row">
                                    {{#temas}}
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header  card-header-text card-header-primary">
                                                <div class="card-text">
                                                    <h5 class="card-title ">Tema {{-index}}</h5>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <!-- Theme 2 Content -->
                                                <p> {{contenido}}</p>
                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <p class="d-flex"><button type="button" class="btn btn-info ml-auto btn-round"><i class="material-icons"> delete </i></button></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									{{/temas}}
                                </div>
                                <p class="d-flex"><button type="button" class="btn btn-info ml-auto btn-round" onclick="newFile()"><i class="material-icons"> add_circle </i></button></p> <!-- Add button -->                            
                            </div>
                        </div>
                    </div>
                    <!-- End Theme-->

                    <!-- Start Obra-->
                    <div class="col-sm-4" style="width: auto; height: 30em; overflow-y: scroll;">
                        <div class="card" style="height:auto">
                            <div class="card-header   card-header-primary">

                                <h4 class="card-title text-center">Obras</h4>

                            </div>
                            <div class="card-body">
                                <!-- Search bar-->
                                <form class="navbar-form">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control" placeholder="Buscar Obra...">
                                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </form>
                                <!-- End Search bar-->
                                <div class="row">
                                {{#obras}}
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header  card-header-text card-header-primary">
                                                <div class="card-text">
                                                    <h5 class="card-title ">Obra {{-index}}</h5>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <!-- Quote 1 Content -->
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p> {{title}}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <p class="d-flex"><button type="button" class="btn btn-info ml-auto btn-round"><i class="material-icons"> delete </i></button></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/obras}}
                                </div>

                                <p class="d-flex"><button type="button" class="btn btn-info ml-auto btn-round"  onclick="newFile()"><i class="material-icons"> add_circle </i></button></p> <!-- Add button -->
                            </div>
                        </div>
                    </div>
                    <!-- End Quote-->
                                        <!-- Start Author-->
                    <div class="col-sm-4" style="width: auto; height: 30em; overflow-y: scroll;">
                        <div class="card" style="height:auto">
                            <div class="card-header  card-header-primary">

                                <h4 class="card-title text-center">Citas</h4>

                            </div>
                            <div class="card-body">
                                <!-- Search bar-->
                                <form class="navbar-form">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control" placeholder="Buscar Cita...">
                                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </form>
                                <!-- End Search bar-->
                                <div class="row">
                                {{#citas}}
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header  card-header-text card-header-primary">
                                                <div class="card-text">
                                                    <h5 class="card-title ">Cita {{-index}}</h5>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <!-- Quote Content -->
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p> {{contenido}}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <p class="d-flex"><button type="button" class="btn btn-info ml-auto btn-round"><i class="material-icons"> delete </i></button></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/citas}}

                                </div>

                                <p class="d-flex"><button type="button" class="btn btn-info ml-auto btn-round" onclick="newFile()"><i class="material-icons"> add_circle </i></button></p> <!-- Add button -->

                            </div>
                        </div>
                    </div>
                    <!-- End Author-->
                    
                </div>
            </div>
        <!--End Container 2-->
        <!-- End Container parts-->




{{>footer}}