{{#author}}
<div class="col-sm-6">
	<div class="card">
		<div class="card-header  card-header-text card-header-primary">
			{{#logged}}<a href="/autor/{{name}}">{{/logged}}
				<div class="card-text">
					<h5 class="card-title ">Autor {{nAuthor}}{{-index}}</h5>
				</div> {{#logged}}
			</a>{{/logged}}
		</div>

		<div class="card-body">
			{{#logged}} <a href="/autor/{{name}}">{{/logged}}
				<p>{{nombre}}</p> {{#logged}}
			</a>{{/logged}}
			<div class="row">
				<div class="col-sm-12">
					{{#admin}}
					<p class="d-flex">
						<button type="button" class="btn btn-info ml-auto btn-round">
							<i class="material-icons"> delete </i>
						</button>
					</p>
					{{/admin}}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var indexAuthors={{indexAuthors}};
</script>
{{/author}}
