<!-- <td-layout [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '240px' : '100%'">

    <td-layout-nav [toolbarTitle]="(media.registerQuery('gt-xs') | async) ? 'Library' : ''" navigationRoute="/">

        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span flex *ngIf="!searchBox.searchVisible"></span>
            <td-search-box hide-xs flex #searchBox
                [ngClass]="{ 'push-left push-right mat-whiteframe-z1 bgc-white tc-black': searchBox.searchVisible }"
                placeholder="search"></td-search-box>
            <login></login>
        </div>

        <div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">

            <div flex-gt-sm="100">
                <router-outlet></router-outlet>
            </div>
        </div>

        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="mat-caption">Made with <mat-icon class="text-md">favorite</mat-icon> using
                    <a href="http://getcovalent.com" class="text-nodecoration tc-teal-600">Covalent</a>. CodeURJC ({{mode}})</span>
            </div>
        </td-layout-footer>
    </td-layout-nav>
</td-layout> -->





<td-layout>
  
  <td-layout-nav color="none"  navigationRoute="/">
    
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span hide-gt-xs class="tc-blue-500 mat-subhead">Landing</span>
      <span hide-xs class="tc-blue-500 mat-subhead">Santatecla Bibliografía</span>
      <span flex></span>
      <login></login>
      
    </div>
    <mat-toolbar class="pad-none" style="width: 100%">
      <nav mat-stretch-tabs mat-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex style="width: 100%"> 
        <mat-expansion-panel style="width: 100%">
          <mat-expansion-panel-header>
          <mat-panel-title>
            Tabs
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-tab-link [active]="true" [routerLink]="['/']"> 
          <span hide-xs>Home</span>
          <span hide-gt-xs>
            <mat-icon>home</mat-icon>
          </span>
        </a>
        <a mat-tab-link *ngFor="let tab of tabService" [active]="true" [routerLink]="[tab.type, tab.id]">
          <span hide-xs *ngIf="(tab.type==='theme')">Tema {{tab.id}}<button  [routerLink]="['/']" mat-icon-button (click)="tabService.removeTab(tab.type, tab.id)">
            <mat-icon>close</mat-icon>
          </button></span>
          <span hide-xs *ngIf="(tab.type==='work')">Obra {{tab.id}}<button  [routerLink]="['/']" mat-icon-button (click)="tabService.removeTab(tab.type, tab.id)">
            <mat-icon>close</mat-icon>
          </button></span>
          <span hide-xs *ngIf="(tab.type==='author')">Autor {{tab.id}}<button  [routerLink]="['/']" mat-icon-button (click)="tabService.removeTab(tab.type, tab.id)">
            <mat-icon>close</mat-icon>
          </button></span>          
        </a>
        <a mat-tab-link [active]="true" [routerLink]="['themes']">
          <span hide-xs>Themes</span>
          <span hide-gt-xs>
            <mat-icon>language</mat-icon> 
          </span>
        </a>
        <a mat-tab-link [active]="true" [routerLink]="['works']">
          <span hide-xs>Works</span>
          <span hide-gt-xs>
            <mat-icon>language</mat-icon>
          </span>
        </a>
        <a mat-tab-link [active]="true"  [routerLink]="['authors']">
          <span hide-xs>Authors</span>
          <span hide-gt-xs>
            <mat-icon>assignment</mat-icon>
          </span>
          
        </a>
        </mat-expansion-panel>
      </nav>
    </mat-toolbar>
    <!--<my-tabs>
      //<a mat-tab-link [active]="true" [routerLink]="['/']">
        <my-tab [tabTitle]="'Home'">
        </my-tab>
      
    </my-tabs>-->
    
    <!-- router outlet goes here -->

    <router-outlet></router-outlet>

 
    <td-layout-footer >
        <div layout="row">
          <div flex>
            <a href="https://www.aulavirtual.urjc.es/moodle/user/view.php?id=88500&course=128839">
              Israel Peñalver </a>
          </div>

          <div flex>
            <a href="https://www.aulavirtual.urjc.es/moodle/user/view.php?id=76736&course=128839">
              Sandra Gómez</a>
          </div>

          <div flex>
            <a href="https://www.aulavirtual.urjc.es/moodle/user/view.php?id=73601&course=128839">
              Zhihao Du</a>
          </div>

          <div flex>
            <a href="https://www.aulavirtual.urjc.es/moodle/user/view.php?id=60660&course=128839">
              Sergio Casado</a>
          </div>
        </div>

      <div layout="row" layout-align="start center">
        <span class="mat-caption">Made with <mat-icon class="text-md">favorite</mat-icon> by Grupo 13</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>
