<mat-card style="margin-top:50px">
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Authors</span>
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div>
            <cdk-virtual-scroll-viewport itemSize="50" *ngIf="loginService.isLogged" class="example-viewport">
                <div *cdkVirtualFor="let author of authors" class="example-item" [routerLink]="['/author', author.nombre]">
                    <a [routerLink]="['/author', author.nombre]">
                        {{ author.nombre }}
                    </a>
                    <button mat-icon-button *ngIf="loginService.isAdmin" (click)="deleteAuthor(author)"><mat-icon>delete</mat-icon></button>
                </div>
            </cdk-virtual-scroll-viewport>


            <cdk-virtual-scroll-viewport itemSize="50" *ngIf="!loginService.isLogged" class="example-viewport">
                <div *cdkVirtualFor="let author of authors" class="example-item" >
                    {{ author.nombre }}
                </div>
            </cdk-virtual-scroll-viewport>
            <mat-paginator [length]="100"
              [pageSize]="10"
              (page)=" getPage($event)">
            </mat-paginator>
        </div>
        

        <div layout="column" layout-align="center end" *ngIf="loginService.isLogged && loginService.isAdmin">
            <mat-divider inset="true"></mat-divider>
            <button mat-raised-button color="accent" class="push-top-sm" *ngIf="loginService.isLogged" (click)="newAuthor()">
                            <mat-icon>add</mat-icon> New
            </button>
        </div>
    </mat-card-content>
</mat-card>
