<div *ngIf="author">
    <div *ngIf="loginService.isLogged && loginService.isAdmin">
        <mat-card>
            <mat-card-title> Author </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <form #authorForm="ngForm">
                    <div *ngIf="author.id"><label>Id: </label>{{ author.id }}</div>
                    <div>
                        <mat-form-field>
                            <input
                                matInput
                                [(ngModel)]="author.nombre"
                                placeholder="Name"
                                #authorFormElement
                                #authorFormControl="ngModel"
                                name="nombre"
                                required
                            />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input
                                matInput
                                [(ngModel)]="author.url_foto"
                                placeholder="Author URL"
                                #authorFormElement
                                #authorFormControl="ngModel"
                                name="url_foto"
                                required
                            />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input
                                matInput
                                [(ngModel)]="author.fecha_nac"
                                placeholder="Birth Date"
                                #authorFormElement
                                #authorFormControl="ngModel"
                                name="fecha_nac"
                                required
                            />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input
                                matInput
                                [(ngModel)]="author.fecha_def"
                                placeholder="Death Date"
                                #authorFormElement
                                #authorFormControl="ngModel"
                                name="fecha_def"
                                required
                            />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input
                                matInput
                                [(ngModel)]="author.url_mapa"
                                placeholder="Country URL "
                                #authorFormElement
                                #authorFormControl="ngModel"
                                name="url_mapa"
                                required
                            />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input
                                matInput
                                [(ngModel)]="author.lugar"
                                placeholder="Country "
                                #authorFormElement
                                #authorFormControl="ngModel"
                                name="lugar"
                                required
                            />
                        </mat-form-field>
                    </div>
                    
                </form>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <div layout="row" layout-align="end center">
                    <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
                    <button
                        mat-raised-button
                        color="accent"
                        (click)="save()"
                        [disabled]="authorForm === undefined || (authorForm && !authorForm.valid)"
                        class="push-left-sm"
                    >
                        Save
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div *ngIf="loginService.isLogged && !loginService.isAdmin">
        <mat-card>
            <mat-card-title>Access Error</mat-card-title>
                <mat-card-actions>
                <button mat-raised-button color="accent" (click)="cancel()">Return</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div *ngIf="!loginService.isLogged && !loginService.isAdmin">
        <mat-card>
            <mat-card-title>Access Error</mat-card-title>
                <mat-card-actions>
                <button mat-raised-button color="accent" (click)="cancel()">Return</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
