{{#works}}
<div class="col-sm-6">
	<div class="card">
		<div class="card-header  card-header-text card-header-primary">
			{{#logged}}<a href="/obrashow/{{title}}">{{/logged}}
				<div class="card-text">
					<h5 class="card-title ">Obra {{nWorks}}{{-index}}</h5>
				</div> {{#logged}}
			</a>{{/logged}}
		</div>

		<div class="card-body">
			{{#logged}} <a href="/obrashow/{{title}}">{{/logged}} <!-- Theme 2 Content -->
				<p>{{title}}</p> {{#logged}}
			</a>{{/logged}}
			<div class="row">
				<div class="col-sm-12">
					{{#admin}}
					<form action="obra/borrar" method="post">
						<input type="hidden" name="_csrf" value="{{token}}" /> <input
							type="hidden" name="title" value="{{title}}" />
						<p class="d-flex">
							<button type="submit" class="btn btn-info ml-auto btn-round"
								onclick="return confirm('¿Está seguro de borrar el item?')">
								<i class="material-icons"> delete </i>
							</button>
						</p>
					</form>
					{{/admin}}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var indexWorks={{indexWorks}};
</script>
{{/works}}
