<div *ngIf="theme">
    <mat-card>
        <mat-card-title> Theme "{{ theme.title }}"</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div>
                <p>{{ theme.description }}</p>
            </div>
            <div layout="row" layout-align="end center">
                <ng-container>
                <!-- <ng-container *ngIf="loginService.isLogged && loginService.isAdmin"> -->
                    <button mat-raised-button color="accent" (click)="removeTheme()"><mat-icon>delete</mat-icon>Remove</button>
                    <button mat-raised-button color="accent" (click)="editTheme()" class="push-left-sm">
                        <mat-icon>edit</mat-icon>Edit
                    </button>
                </ng-container>
                <button mat-raised-button color="accent" (click)="gotoThemes()" class="push-left-sm">
                    <mat-icon>list</mat-icon>All Themes
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
