<div *ngIf="work">
    <mat-card>
        <mat-card-title> Work </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form #workForm="ngForm">
                <div *ngIf="work.id">Id: {{ work.id }}</div>
                <div>
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="work.title"
                            placeholder="Title"
                            #workFormElement
                            #workFormControl="ngModel"
                            name="title"
                            required
                        />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="work.URL"
                            placeholder="URL"
                            #workFormElement
                            #workFormControl="ngModel"
                            name="URL"
                            required
                        />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="work.date"
                            placeholder="date"
                            #workFormElement
                            #workFormControl="ngModel"
                            name="date"
                            required
                        />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="work.editorial"
                            placeholder="editorial"
                            #workFormElement
                            #workFormControl="ngModel"
                            name="editorial"
                            required
                        />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="work.url_editorial"
                            placeholder="url_editorial"
                            #workFormElement
                            #workFormControl="ngModel"
                            name="url_editorial"
                            required
                        />
                    </mat-form-field>
                </div>
                <div>
                    <mat-select placeholder="Autores">
                        <mat-option *ngFor="let author of authors" value="{{author.nombre}}" [(ngModel)]="author.nombre">
                            {{author.nombre}}
                        </mat-option>
                    </mat-select>
                </div>
                <p></p>
                <p></p>
                <p></p>
                <div>
                    <mat-select placeholder="Temas">
                        <mat-option *ngFor="let theme of themes" value="{{theme.contenido}}" [(ngModel)]="theme.contenido">
                            {{theme.contenido}}
                        </mat-option>
                    </mat-select>
                </div>
            </form>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div layout="row" layout-align="end center">
                <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
                <button
                    mat-raised-button
                    color="accent"
                    (click)="save()"
                    [disabled]="workForm === undefined || (workForm && !workForm.valid)"
                    class="push-left-sm"
                >
                    Save
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
  </div>
  