<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Works</span>
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div>
            <cdk-virtual-scroll-viewport itemSize="50" *ngIf="loginService.isLogged" class="example-viewport">
                <div *cdkVirtualFor="let work of works" class="example-item" [routerLink]="['/work', work.title]">
                    <a [routerLink]="['/work', work.title]">
                        {{ work.title }}
                    </a>
                </div>
            </cdk-virtual-scroll-viewport>


            <cdk-virtual-scroll-viewport itemSize="50" *ngIf="!loginService.isLogged" class="example-viewport">
                <div *cdkVirtualFor="let work of works" class="example-item" >
                    {{ work.title }}
                </div>
            </cdk-virtual-scroll-viewport>
        </div>

        <div layout="column" layout-align="center end" *ngIf="loginService.isLogged && loginService.isAdmin">
            <mat-divider inset="true"></mat-divider>
            <button mat-raised-button color="accent" class="push-top-sm" *ngIf="loginService.isLogged" (click)="newWork()">
                <mat-icon>add</mat-icon> New
            </button>
        </div>
    </mat-card-content>
</mat-card>
