<div *ngIf="work">
    <mat-card>
        <mat-card-title> Work "{{ work.title }}"</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div>
                <p>{{ work.description }}</p>
            </div>
            <div layout="row" layout-align="end center">
                <ng-container>
                <!-- <ng-container *ngIf="loginService.isLogged && loginService.isAdmin"> -->
                    <button mat-raised-button color="accent" (click)="removeWork()"><mat-icon>delete</mat-icon>Remove</button>
                    <button mat-raised-button color="accent" (click)="editWork()" class="push-left-sm">
                        <mat-icon>edit</mat-icon>Edit
                    </button>
                </ng-container>
                <button mat-raised-button color="accent" (click)="gotoWorks()" class="push-left-sm">
                    <mat-icon>list</mat-icon>All Works
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
