<div *ngIf="work">
    <div *ngIf="loginService.isLogged && (loginService.isAdmin || loginService.isLogged)">
        <mat-card>
            <mat-card-title> Work "{{ work.title }}"</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <img *ngIf = "urlCover" [src]="urlCover">
                <br>
                <img *ngIf = "urlEditorial" [src]="urlEditorial">
                <div>
                    <p>Fecha de publicación: {{ work.date }}</p>
                </div>
                <div>
                    <p>Editorial: {{ work.editorial }}</p>
                </div>
                <div>
                        <small>Fuente portada: {{work.URL}}</small>
                        <small>Fuente Editorial: {{work.url_editorial}}</small>
                </div>
                
                <div layout="row" layout-align="end center">
                    <ng-container>
                        <!-- <ng-container *ngIf="loginService.isLogged && loginService.isAdmin"> -->
                        <button mat-raised-button color="accent" (click)="editWorkCover()" class="push-left-sm">
                            <mat-icon>edit</mat-icon>Cambiar portada:
                            <input #imageInput type="file" accept="image/*" (change)="processCoverFile(imageInput)">
                        </button>
    
                        <button mat-raised-button color="accent" (click)="removeWork()" class="push-left-sm">
                            <mat-icon>delete</mat-icon>Borrar
                        </button>
    
                    </ng-container>
                    <button mat-raised-button color="accent" (click)="gotoWorks()" class="push-left-sm">
                        <mat-icon>list</mat-icon>Volver
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="! loginService.isLogged && !(loginService.isAdmin || loginService.isLogged)">
        <mat-card>
            <mat-card-title>Access Error</mat-card-title>
                <mat-card-actions>
                <button mat-raised-button color="accent" (click)="cancel()">Return</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<mat-grid-list cols="3">
  <mat-grid-tile>
    <div flex-gt-sm="33">
      <mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Quotes</span>
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div>
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <div *cdkVirtualFor="let quote of quotes" class="example-item" >
                    {{ quote.contenido }}
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </mat-card-content>
</mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div flex-gt-sm="33">
      <mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Authors</span>
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div>
            <cdk-virtual-scroll-viewport itemSize="50" *ngIf="loginService.isLogged" class="example-viewport">
                <div *cdkVirtualFor="let author of authors" class="example-item" [routerLink]="['/author', author.nombre]">
                    <a [routerLink]="['/author', author.nombre]">
                        {{ author.nombre }}
                    </a>
                </div>
            </cdk-virtual-scroll-viewport>


            <cdk-virtual-scroll-viewport itemSize="50" *ngIf="!loginService.isLogged" class="example-viewport">
                <div *cdkVirtualFor="let author of authors" class="example-item" >
                    {{ author.nombre }}
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </mat-card-content>
</mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div flex-gt-sm="33">
      <mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Themes</span>
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div>
            <cdk-virtual-scroll-viewport itemSize="50" *ngIf="loginService.isLogged" class="example-viewport">
                <div *cdkVirtualFor="let theme of themes" class="example-item" [routerLink]="['/theme', theme.contenido]">
                    <a [routerLink]="['/theme', theme.contenido]">
                        {{ theme.contenido }}
                    </a>
                </div>
            </cdk-virtual-scroll-viewport>


            <cdk-virtual-scroll-viewport itemSize="50" *ngIf="!loginService.isLogged" class="example-viewport">
                <div *cdkVirtualFor="let theme of themes" class="example-item" >
                    {{ theme.contenido }}
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </mat-card-content>
</mat-card>
    </div>
  </mat-grid-tile>
 
</mat-grid-list>
